{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-use-before-define": ["error", {
      "functions": false,
    }]
  }
}
