.ChooseInput {
  position: absolute;
}

.audio-selected .ChooseInput {
  height: 20vh;
  left: 0;
  min-width: 12em;
  padding: 2rem 2rem 0;
  right: 50%;
  top: 0;
  white-space: nowrap;
  z-index: 2;
}

body:not(.audio-selected) .ChooseInput {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ChooseInput-option {
  color: inherit;
  cursor: pointer;
  float: left;
  font-size: inherit;
  margin: 0 1.5em .5em 0;
  padding: 0 0 0 1.25em;
  position: relative;
  text-align: left;
}

.ChooseInput-option::before {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 50%;
  content: '';
  display: block;
  font-size: .5em;
  height: 1em;
  left: 0;
  margin: 0 1em 0 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.ChooseInput-option.is-active::before {
  border-color: var(--highlight-color);
}

.ChooseInput-option:hover,
.ChooseInput-option:focus {
  text-decoration: underline;
}
