.SvgContainer {
  align-self: center;
  height: 100%;
  margin: 0 auto;
  max-height: 80vh;
  width: 80vw;
}

#Svg {
  height: 100%;
  opacity: 1;
  transform: scale(1);
  transition: all 2s cubic-bezier(0, 0, 0, 1);
  width: 100%;
}

#Svg.scaled-down {
  opacity: 0;
  transform: scale(0.25);
}

circle {
  will-change: transform;
}

circle.animated {
  transform: scale(calc(var(--scale) / 50));
}

circle:not(.animated) {
  fill: rgba(255, 255, 255, 0.75);
  transition-duration: 0.5s;
}
