.Settings {
  bottom: 0;
  opacity: 0;
  padding: 0 2rem 2rem;
  position: absolute;
  right: 0;
  z-index: 1;
}

.Settings-item {
  display: flex;
  float: right;
  margin: .5em 0 0 1.5em;
}

.Settings-input {
  margin-left: .5rem;
  width: 5em;
}

@media (max-width: 40em) {
  .Settings {
    left: 0;
    text-align: center;
  }
}

@media (min-width: 40.03125em) {
  .Settings {
    left: 50%;
    padding-top: 5em;
  }
}
