.SongInfo {
  left: 0;
  padding: 0 2rem 2rem;
  position: absolute;
  z-index: 1;
}

.SongInfo:hover {
  opacity: 1;
}

.SongInfo-title {
  line-height: 1.1;
  margin: 0 1em 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SongInfo-button {
  display: none;
  float: left;
  height: 0;
  margin: 0 1em 0 0;
  text-indent: -9999em;
  width: 0;
}

.SongInfo-button--play,
.SongInfo-button--pause {
  display: block;
}

.SongInfo-button--play {
  border: .5em solid transparent;
  border-left-color: #fff;
}

.SongInfo-button--pause {
  font-size: 1.6rem;
  height: 1em;
  position: relative;
  width: 1em;
}

.SongInfo-button--pause::before,
.SongInfo-button--pause::after {
  background: #fff;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: .25em;
}

.SongInfo-button--pause::before {
  left: 0;
}

.SongInfo-button--pause::after {
  right: .25em;
}

@media (max-width: 40em) {
  .SongInfo {
    bottom: 6em;
    right: 0;
  }
}

@media (min-width: 40.03125em) {
  .SongInfo {
    bottom: 0;
    padding-top: 5em;
    right: 50%;
  }
}
