@import "_reset.css";
@import "_base.css";
@import "_choose_input.css";
@import "_earth.css";
@import "_file_drop.css";
@import "_information.css";
@import "_overlay.css";
@import "_progress_bar.css";
@import "_settings.css";
@import "_song_info.css";

:root {
  --highlight-color: deeppink;
  --transition: all .2s ease;
}

.u-hiddenVisually:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.audio-active .ChooseInput,
.audio-active .SongInfo,
.audio-active .InformationButton-container,
.audio-active .Settings {
  opacity: .1;
  transition: opacity .5s ease-in;
}

.audio-active .ChooseInput:hover,
.audio-active .SongInfo:hover,
.audio-active .InformationButton-container:hover,
.audio-active .Settings:hover {
  opacity: 1;
  transition: opacity .25s ease-out;
}

.NoJs {
  text-align: center;
}
